@charset "utf-8";

#banner{
  width: 1920px;
  height: 100%;
}

/* 구하러가기 버튼 */
#mate-button{
  position: absolute;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  width: 280px;
  height: 65px;
  padding: 3px;
  cursor: pointer;
  /* 폰트 값 적용 */
  font-family: "나눔스퀘어라운드OTF ExtraBold";  
  color: white;
  text-align: center;
  font-size: 16pt;
  top: 460px;
  left: 370px;
}

/* 위 제목 폰트 */
.banner-title-text{
  position: absolute;
  white-space: nowrap;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 22pt;
  color: white;
  top: 180px;
  left: 370px;
}
  
/* 아래 본문 폰트 */
.banner-text1{
  position: absolute;
  white-space: nowrap;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 44pt;
  word-spacing: -5px;
  color: white;
  top: 210px;
  left: 370px;
}

.banner-text2{
  position: absolute;  
  white-space: nowrap;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 44pt;
  word-spacing: -5px;
  color: white;
  top: 300px;
  left: 370px;
}
