@charset "utf-8";

/* 채팅 사용자 검색창 */
.chat-search {
  position: relative;
  margin-top: 15px;
  margin-left: 370px;
  width: 300px;
  padding: 9px;
  border: none;
  outline: none;
  font-size: 11pt;
  padding-left: 34px;
  border-radius: 17px;
  background-color: #dadada;
  font-family: "나눔스퀘어라운드OTF Regular";
  background-image: url(../images/chat-search.png);
  background-repeat: no-repeat;
  background-position: 12px;
  box-sizing: border-box;
}

/* 채팅 메세지 입력창 */
.chatting-message {
  position: relative;
  top: -10px;
  margin-left: 12px;
  width: 500px;
  padding: 9px;
  border: none;
  outline: none;  
  font-size: 11pt;
  padding-left: 20px;
  border-radius: 17.5px;
  background-color: #dadada;
  font-family: "나눔스퀘어라운드OTF Regular";
  box-sizing: border-box;
}