@charset "utf-8";

/* 채팅 기본 값 */
.chat-container {
  display: flex;
  position: relative;
  margin: 0 auto;
  height: 830px;
}

/* 채팅 왼쪽 */
#chatLeft {
  width: 870px;
  border: solid 0.1px #dadada;
}

/* 채팅 오른쪽 */
#chatRight {
  width: 370px;
  border: solid 0.1px #dadada;
}

/* 채팅 가운데 */
#chat {
  width: 680px;
  border: solid 0.1px #dadada;
}

/* 채팅 총 크기 */
#chat-size {
  height: 700px;
}

/* 현재 클릭한 채팅 상자 */
#chat-square-color {
  height: 120px;
  border: solid 0.1px #dadada;
  background-color: rgba(0, 68, 239, 0.2);
}

/* 기본적인 채팅 상자 */
#chat-square {
  height: 120px;
  border: solid 0.1px #dadada;
}

/* 오른쪽 스크롤을 주기 위해 위 아래 레이아웃 나눔 */
#chat-profile {
  position: relative;
  height: 708px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

/* 스크롤 디자인 */
#chat-profile::-webkit-scrollbar {
  width: 11px;
}

#chat-profile::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0044ef;
}

#chat-profile::-webkit-scrollbar-track {
  background-color: #dadada;
}

/* 메인 - 채팅 text 값 */
.chat-title {
  position: relative;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 370px;
  color: #454545;
  font-size: 16pt;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  white-space: nowrap;
}

/* 채팅 프로필 이미지 사이즈 */
.chat-profile-image {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: -84px;
  margin-left: 350px;
  padding: 19px;
}

/* 채팅 이름 */
.chat-name {
  position: relative;
  margin-top: 35px;
  margin-left: 470px;
  margin-bottom: 0px;
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
}

/* 채팅 내용 */
.chat-content {
  position: relative;
  margin-top: 10px;
  margin-left: 470px;
  font-size: 12pt;
  color: #454545;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "나눔스퀘어라운드OTF Regular";
}

/* 채팅이 새로왔을 때 색상 값 */
.chat-new-content {
  position: relative;
  margin-top: 10px;
  margin-left: 470px;
  font-size: 12pt;
  color: #0044ef;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
}

/* 채팅이 새로 왔을 때 이름 옆에 뜨는 이미지  */
.new-chat-image {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-top: 39px;
  margin-left: 540px;
}
