@charset "utf-8";

/* 채팅 상단 */

/* 채팅 프로필 사진 */
.chat-profile{
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 17px;
  padding: 22px;
}

/* 상단 박스 이름  */
.chatting-name{
  position: relative;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 15pt;
  margin-top: -90px;
  margin-left: 140px;
  color: #454545;
}

/* 상단 박스 한줄 소개  */
.chatting-content{
  position: relative;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 12pt;
  margin-top: 10px;
  margin-left: 140px;
  color: #454545;
}

/* i버튼 / 프로필 자세히 보기 */
.chat-profile-details{
  position: relative;
  width: 30px;
  height: 30px;
  top: -40px;
  margin-left: 542px;
}

/* 글쓰기 버튼 */
.chat-writting{
  position: relative;
  width: 30px;
  height: 30px;
  top: -75px;
  margin-left: 590px;
}

/* 채팅 내용 박스 */
#chatting-square{
  border: solid 0.1px #dadada;
  height: 620px;
  overflow: auto; 
  overflow-x: hidden; 
  overflow-y: auto;
}

/* 스크롤 디자인 */
#chatting-square::-webkit-scrollbar {
  width: 11px;
}

#chatting-square::-webkit-scrollbar-thumb {
  background-color: #0044ef;
  border-radius: 5px;
}

#chatting-square::-webkit-scrollbar-track {
  background-color: #dadada;
}

/* 하단 채팅 입력 박스 */
#chatting-text-square{
  border: solid 0.1px #dadada;
  height: 81px;
  box-shadow: -2px -2px 10px 2px #f1f1f1;
}

/* 이모티콘 버튼 */
.chatting-emoticon-image{
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: 23px;
}

/* 사진 불러오기 버튼 */
.chatting-picture-image{
  position: relative;
  width: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: 10px;
}

/* 보내기 버튼 */
.chatting-send-image{
  position: relative;
  width: 30px;
  height: 24px;
  top: -2px;
  margin-left: 8px;
}

/* 채팅 */

.chatting {
  width: 680px;
  float: left;
}

.chatting .chat-view {
  padding: 30px 60px;
}

.chatting .chat-view .message {
  position: relative;
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  padding: 10px 22px;
  font-size: 19px;
  line-height: 24pt;
  width: 50%;
}

.chatting .chat-view .my-message {
  float: right;
  background: #0044ef;
  margin-top: 10px;
  color: white;
  overflow: hidden; 
  text-align: right;
  border-radius: 25px 25px 0px 25px;
}

.chatting .chat-view .other-message {
  background: #dadada;
  color: #454545;
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: hidden; 
  text-align: left;
  border-radius: 25px 25px 25px 0px;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
}