@charset "utf-8";

.chat-container {
  display: flex;
  margin: 0 auto;
}
#chatLeft {
  flex-grow: 0;
  border: solid 1px black;
  width: 870px;
}
#chat {
  flex-grow: 1;
  border: solid 1px black;
  width: 680px;
}
#chatRight {
  flex-grow: 1;
  border: solid 1px black;
  width: 370px;
}
#chat-size {
  flex-grow: 1;
  height: 1000px;
}

@media screen and (max-width: 1400px) {
  #chatRight {
    display:none;
  }
}

.chat-title{
  flex-grow: 0;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 16pt;
  margin-left: 43%;
  color: #454545;
}
