@charset "utf-8";

.chat-container {
  position: absolute;
  display: flex;
  margin: 0 auto;
  height: 910px;
}

#chatLeft::-webkit-scrollbar {
  width: 10px;
}
#chatLeft::-webkit-scrollbar-thumb {
  background-color: #0044ef;
  border-radius: 10px;
}
#chatLeft::-webkit-scrollbar-track {
  background-color: #dadada;
  border-radius: 10px;
}

#chatLeft {
  border: solid 0.1px #dadada;
  width: 870px;
  overflow: auto;
}

#chatRight {
  border: solid 0.1px #dadada;
  width: 370px;
}

#chat {
  border: solid 0.1px #dadada;
  width: 680px;
}

#chat-size {
  height: 700px;
}

.chat-title{
  position: relative;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 16pt;
  margin-top: 25px;
  margin-bottom: 0px;
  margin-left: 370px;
  color: #454545;
}

.chat-name{
  position: relative;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  margin-top: 35px;
  margin-left: 470px;
  margin-bottom: 0px;
  font-size: 14pt;
  color: #454545;
}

.chat-content{
  position: relative;
  font-family: "나눔스퀘어라운드OTF Regular";
  margin-top: 9px;
  margin-left: 470px;
  font-size: 12pt;
  color: #454545;
}

.chat-new-content{
  position: relative;
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  margin-top: 9px;
  margin-left: 470px;
  font-size: 12pt;
  color: #0044ef;
}

.new-chat-image{
  position: relative;
  width: 10px;
  height: 10px;
  top: -67px;
  margin-left: 68px;
}

.chatting-name{
  position: absolute;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  margin-top: -95px;
  margin-left: 140px;
  font-size: 14pt;
  color: #454545;
}

.chatting-content{
  position: absolute;
  font-family: "나눔스퀘어라운드OTF Regular";
  margin-top: -65px;
  margin-left: 140px;
  font-size: 12pt;
  color: #454545;
}

.chatting-send-image{
  position: absolute;
  width: 30px;
  height: 24px;
  margin-top: 28px;
  margin-left: 620px;
}

.chatting-emoticon-image{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 24px;
  margin-left: 22px;
}

.chatting-picture-image{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 24px;
  margin-left: 62px;
}

.chat-profile-details{
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 45px;
  margin-left: 400px;
}

.chat-writting{
  position: relative;
  width: 30px;
  height: 30px;
  top: -54px;
  margin-left: 450px;
}

.chat-profile-image{
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: -84px;
  margin-left: 350px;
  padding: 19px;
}

.chat-profile{
  position: relative;
  width: 80px;
  height: 80px;

  margin-left: 17px;
  padding: 24px;
}

#chatting-square{
  border: solid 0.1px #dadada;
  height: 700px;
}

#chatting-text-square{
  border: solid 0.1px #dadada;
  height: 81px;
  box-shadow: -7px -2px 10px 2px #f1f1f1;
}

#chat-square{
  border: solid 0.1px #dadada;
  height: 120px;
}

#chat-square-color{
  border: solid 0.1px #dadada;
  height: 120px;
  background-color: rgba(0, 68, 239, 0.2);
}
