@charset "utf-8";

body {
  margin: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  box-shadow: 0px 0px 10px 2px #f0f0f0;
}

/* 링크 설정때 기본 값 */
a {
  /* 텍스트 하단에 밑줄 X */
  text-decoration: none;
  color: black;
  font-family: "나눔스퀘어라운드OTF ExtraBold";
}

/* 로고 사이즈 */
.logo-image{
  width: 150px;
  height: 35px;
  margin-top: 3px;
}

/* 프로필 사이즈 */
.profile-image{
  width: 30px;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
}

/* 왼쪽부터 로고까지 마진 */
.menu-margin-left{
  /* 왼쪽 빈 여백 370 -> 370 + 기본여백 80 */
  margin-left: 80px;
}

/* 오른쪽부터 프로필까지 마진 */
.menu-margin-right{
  margin-right: 80px;
}

/* 네비게이션 메뉴바*/
.navbar{
  display: flex;
  flex-grow: 0;
  background: #ffffff;
  width: 1180px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

#aisdeLeft, #aisdeRight {
  flex-grow: 1;
}

#section {
  flex-grow: 0;
  width: 1180px;
}

@media screen and (max-width: 1200px) {
  #aisdeLeft, #aisdeRight {
  display:none;
  }
}

/* text 메뉴 위치 */
.tab {
  display: flex;
  float: left;
  width: 0px;
  margin-left: 240px;
}

/* text 메뉴 값끼리의 거리 */
.menu{
  display: flex;
  float: left;
  margin-top: 4px;
  margin-right: 40px;
  list-style-type: none;
}

/* 프로필 버튼 배경 색 설정 */
#profile-button{
  background-color: transparent;
}