@charset "utf-8";

.main-container {
  display: flex;
  position: relative;
  margin: 0 auto;
}

/* 채팅 왼쪽 */
#mainLeft {
  width: 370px;
  border: solid 0.1px #dadada;
}

/* 채팅 오른쪽 */
#mainRight {
  width: 370px;
  border: solid 0.1px #dadada;
}

/* 채팅 가운데 */
#main {
  width: 1180px;
  border: solid 0.1px #dadada;
}

/* 채팅 총 크기 */
#main-size {
  height: 700px;
}

@media screen and (max-width: 1250px) {
  #mainLeft, #mainRight {
    display:none;
  }
}

/* .start{
  position: relative;
} */


.menu-start {
  position: relative;
  float: left;
}

.menu-manual {
  position: relative;
  float: left;
}

.menu-review {
  position: relative;
  float: left;
}

.menu-title-text {
  position: absolute;

  font-size: 15pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
}

.menu-text {
  position: absolute;
  margin-top: 37px;
  margin-left: 20px;
  float: left;

  font-size: 13pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.clear {
  clear: both;
}

