@charset "utf-8";

.main-container {
  display: flex;
  position: relative;
  margin: 0 auto;
}

#mainLeft {
  width: 370px;
}

#mainRight {
  width: 370px;
}

#main {
  width: 1180px;
}

#main-size {
  height: 200px;
}

@media screen and (max-width: 1550px) {
  #mainLeft, #mainRight {
    display:none;
  }
}

.manual{
  margin-top: 80px;
}

.menu-start {
  margin-left: 100px;
  position: relative;
  float: left;
}

.menu-manual {
  margin-left: 250px;
  position: relative;
  float: left;
}

.menu-review {
  margin-left: 270px;
  position: relative;
  float: left;
}

.menu-title-text1 {
  position: absolute;
  top: 110px;
  margin-left: 220px;

  font-size: 15pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
}

.menu-text1 {
  position: absolute;
  top: 137px;
  margin-left: 220px;
  float: left;

  font-size: 13pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.menu-title-text2 {
  position: absolute;
  top: 110px;
  margin-left: 570px;


  font-size: 15pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
}

.menu-text2 {
  position: absolute;
  top: 137px;
  margin-left: 570px;
  float: left;

  font-size: 13pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.menu-title-text3 {
  position: absolute;
  top: 110px;
  margin-left: 940px;

  font-size: 15pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
}

.menu-text3 {
  position: absolute;
  top: 137px;
  margin-left: 940px;
  float: left;

  font-size: 13pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.clear {
  clear: both;
}

.start-title{
  position: relative;
  margin-top: 172px;

  font-size: 26pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF ExtraBold"
}

.start-image{
  position: relative;
  width: 300px;
  height: 71px;
  margin-top: 40px;
}

.start-text{
  position: relative;
  margin-top: 40px;
  line-height: 26pt;

  font-size: 16pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.start-text2{
  position: relative;
  margin-top: 40px;
  line-height: 26pt;

  font-size: 16pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.start-duck-image{
  position: absolute;
  margin-left: 1000px;
  top: 313px;
}

.use-title{
  position: relative;
  margin-top: 267px;

  font-size: 26pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF ExtraBold"
}

.use-image{
  margin-top: 40px;
  float: left;
}

.use-text1{
  position: relative;
  margin-top: 128px;
  line-height: 26pt;

  font-size: 16pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular"
}

.use-text2{
  position: relative;
  margin-top: 220px;
  line-height: 26pt;

  font-size: 16pt;
  color: #454545;
  white-space: nowrap;

  font-family: "나눔스퀘어라운드OTF Regular";
}

.trend-text{
  position: relative;
  font-size: 22pt;
  color: #454545;
  white-space: nowrap;
  font-family: "나눔스퀘어라운드OTF ExtraBold"
}

.trend-image{
  position: relative;
}

.trend-image img{
  position: absolute;
  
  width: 480px;
  height: 480px;
  clip: rect(70px, 480px, 370px, 0px);
}

.c{
  position: relative;
  clip: rect(300px, 480px, 480px, 300px);
}