@charset "utf-8";

/* 버튼 값 없앰 */
button{
  border: none;
  outline: none;
}
.user-image{
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 30px;
}

/* 덕메 구하기 버튼 */
#lookfor-mate-button{
  /* 버튼 크기 및 색 지정 */
  background-color: #0044ef;
  border-radius: 10px;
  width: 280px;
  height: 40px;
  padding: 3px;
  /* 폰트 값 적용 */
  font-family: Nanum B; 
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 13pt;
  margin-top: 10px;
  margin-bottom: 7px;
}

#cardtext-button{
  background-color: white;
  border: 1px solid #0044ef;
  border-radius: 10px;
  width: 280px;
  height: 40px;
  padding: 3px;
  font-family: Nanum B; 
  color: #0044ef;
  text-align: center;
  cursor: pointer;
  font-size: 13pt;
  margin-bottom: 16px;
}

#logout-button{
  background-color: white;
  border-radius: 10px;
  width: 120px;
  height: 25px;
  padding: 5px;
  font-family: Nanum R;  
  color: #0044ef;
  cursor: pointer;
  text-align: center;
  font-size: 11pt;
  box-shadow: 0px 0px 10px 2px #f5f5f5;
  margin-bottom: 40px;
}

/* 모달 창 이름 */
.modal-name{
  font-family: Nanum EB;
  font-size: 18pt;
  color: #454545;
  margin-bottom: 7px;
  margin-top: 15px;
}

/* 모달 창 이메일 */
.modal-email{
  font-family: Nanum L;
  font-size: 13pt;
  color: #454545;
  margin-top: 7px;
  line-height: 7px;
}

/* 모달 배경 */
.modal { 
  text-align: center;
  position: fixed; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
  opacity: 0; 
  /* 모달 배경 안보이게 함 */
  visibility: hidden; 
  /* 모달 창 클릭시 뜨는 속도 */
  transition: visibility 0s linear 0.2s, opacity 0.2s 0s, transform 0.25s;
} 

/* 모달 창 */
.modal-content { 
  position: absolute; 
  top: 60px; 
  left: 60%; 
  background-color: white;
  width: 380px; 
  height: 400px; 
  border-radius: 30px;
  box-shadow: 0px 0px 10px 2px #e6e6e6;
}
/* 모달 창 보이게 적용 */
.show-modal { 
  opacity: 1; 
  visibility: visible; 
  transform: scale(1.0); 
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
}