@charset "utf-8";

#post { 
    position: relative;
    margin-top: 100px;
    margin-left: 370px;
}

.clear{
    clear: both;
}

.post-content { 
    width: 280px;
    height: 400px;
    position: relative;
    background-color: white;
    float: left;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 2px #e6e6e6;
}

/* 포카 이미지 */
.poca-img {
    width: 280px;
    height: 250px;
    border-radius: 30px 30px 0px 0px;
}

/* 해찬 포카 천러 교환 구합니당 */
.title {
    padding-top: 18px;
    padding-left: 20px;
    font-family: "나눔스퀘어라운드OTF ExtraBold";
    font-size: 14pt;
    color: #454545;
}

/* 하자 없구용. 준등기 교환 원합니당 ... */
.content {
    padding-top: 13px;
    padding-left: 20px;
    line-height: 24px;
    font-family: "나눔스퀘어라운드OTF Regular";
    font-size: 12pt;
    color: #454545;
}

/* #천러 #NCTDREAM */
.hashtag {
    padding-left: 20px;
    line-height: 24px;
    font-family: "나눔스퀘어라운드OTF Regular";
    font-size: 12pt;
    color: #0044ef;
    display: inline;
}
