@charset "utf-8";


.writing-title-text{
  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 20pt;
  color: #454545;
  white-space: nowrap;
  margin-top: 96px;
  margin-bottom: 67px;
  margin-left: 370px;
}

.writing-title{
  float: left;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  margin-right: 70px;
  margin-left: 370px;
}

.writing-input-title {
  margin-top: 16px;
  width: 1080px;
  border-radius: 15px;
  border: 1px solid #454545;
  padding: 6px;
  position: absolute;
  outline: none;
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}

.writing-gender{
  position: absolute;
  float: left;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  margin-top: 73px;
  margin-right: 62px;
  margin-left: 370px;
}

.gender-select {
  margin-top: 70px;
  width: 120px;
  padding: 6px 15px;
  border-radius: 15px;
  border: 1px solid #454545;
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15px;
  outline: none;
  background: url(../images/select-list.png) no-repeat 90% 50%;
  -webkit-appearance: none;
}

.writing-group{
  position: absolute;
  float: left;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  margin-top: 28px;
  margin-right: 62px;
  margin-left: 370px;
}

.group-select {
  position: absolute;
  margin-top: 123px;
  margin-left: -119px;
  width: 180px;
  padding: 6px 15px;
  border-radius: 15px;
  border: 1px solid #454545;
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15px;
  outline: none;
  background: url(../images/select-list.png) no-repeat 90% 50%;
  -webkit-appearance: none;
}

.writing-possession{
  position: absolute;
  float: left;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  margin-top: 80px;
  margin-right: 62px;
  margin-left: 370px;
}

.possession-input {
  position: absolute;
  margin-left: -119px;
  margin-top: 176px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid #454545;
  padding: 6px;
  position: absolute;
  outline: none;
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}

.writing-exchange{
  position: absolute;
  float: left;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  margin-top: 132px;
  margin-right: 62px;
  margin-left: 370px;
}

.exchange-input {
  position: absolute;
  margin-left: -119px;
  margin-top: 230px;
  width: 300px;
  border-radius: 15px;
  border: 1px solid #454545;
  padding: 6px;
  position: absolute;
  outline: none;
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}

.writing-delivery{
  position: absolute;
  float: left;
  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
  margin-top: 184px;
  margin-right: 62px;
  margin-left: 370px;
}

