@charset "utf-8";

.writing-title-text{
  margin-top: 96px;
  margin-bottom: 67px;
  margin-left: 370px;

  font-family: "나눔스퀘어라운드OTF ExtraBold";
  font-size: 22pt;
  color: #454545;
  white-space: nowrap;
}

#card-exchange{
  position: relative;
  margin-top: 28px;
}

.writing-title-short{
  float: left;
  margin-left: 380px;
  margin-right: 83px;
  margin-top: 3px;

  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
}

.writing-title-long{
  float: left;
  margin-left: 380px;
  margin-right: 42px;
  margin-top: 3px;

  font-family: "나눔스퀘어라운드OTF Regular";
  font-size: 15pt;
  color: #454545;
  white-space: nowrap;
}

.input-title {
  width: 600px;
  
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
  color: #454545;

  border-radius: 15px;
  border: 1px solid #454545;
  padding: 6px;
  outline: none;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}

.input-age{
  width: 200px;
  margin-right: 5px;

  float: left;
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
  color: #454545;

  border-radius: 15px;
  border: 1px solid #454545;
  padding: 6px;
  outline: none;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}

.text-age{
  position: relative;
  float: left;
  top: 7px;
  margin-bottom: 38px;
  margin-right: 40px;
  
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 17px;
  color: #454545;
}

.select-gender {
  width: 120px;

  outline: none;
  padding: 6px 15px;
  border-radius: 15px;
  border: 1px solid #454545;
  background: url(../images/select-list.png) no-repeat 90% 50%;
  -webkit-appearance: none;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15px;
}

.select-group {
  width: 200px;

  outline: none;
  padding: 6px 15px;
  border-radius: 15px;
  border: 1px solid #454545;
  background: url(../images/select-list.png) no-repeat 90% 50%;
  -webkit-appearance: none;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15px;
}

.input-member {
  width: 380px;

  padding: 6px;
  outline: none;
  border-radius: 15px;
  border: 1px solid #454545;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;

  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
}

.checkbox-delivery{
  position: relative;
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15pt;
  color: #454545;
  display: inline-block;
}

.delivery-checkbox-input-first{
  margin-right: 4px;
}

.delivery-checkbox-input{
  margin-left: 10px;
  margin-right: 4px;
}

.select-condition {
  width: 200px;

  outline: none;
  padding: 6px 15px;
  border-radius: 15px;
  border: 1px solid #454545;
  background: url(../images/select-list.png) no-repeat 90% 50%;
  -webkit-appearance: none;

  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15px;
}

.filebox input[type="file"] {
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
}

.filebox label {
  display: inline-block;
  padding: 6px 15px;
  cursor: pointer;
  
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;
  font-size: 15px;
  color: white;
  
  vertical-align: middle;
  background-color: #0044ef;
  border-radius: 15px;
}

.filebox .upload-name {
  width: 270px;
  display: inline-block;
  padding: 6px 15px;
  
  outline: none;
  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
  color: #454545;

  vertical-align: middle;
  background-color: white;
  border: 1px solid #454545;
  border-radius: 15px;
}

.input-text {
  width: 600px;
  height: 300px;
  resize: none;

  padding: 6px;
  outline: none;
  border-radius: 15px;
  border: 1px solid #454545;
  background-position: 12px;
  padding-left: 16px;
  box-sizing: border-box;

  font-family: "나눔스퀘어라운드OTF Light";
  font-size: 15px;
}

.submit-button{
  display: block;
  background-color: #0044ef;
  border-radius: 25px;
  margin-bottom: 100px;

  position: relative;
  width: 220px;
  height: 50px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;

  /* 폰트 값 적용 */
  font-family: "나눔스퀘어라운드OTF";
  font-weight: bold;  
  
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  font-size: 14pt;
}